<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
  <meta name="insight-app-sec-validation" content="c4b4ab02-cf70-420f-b221-7a87544064a3">
  </head>
  
  <body>

    <h2 th:text="#{welcome}">Welcoome</h2>
    <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>

  </body>

</html>
